If:
    PathMatch: .*

CompileFlags:
    Add: [
        "-DDEBUGMSGS",
        "-target", "arm-none-eabi",
        "--target=arm-none-eabi"
    ]
    Remove: [
        "-mthumb", 
        "-mcpu=*", 
        "-mfpu=*", 
        "-mfloat-abi=*"
    ]
    CompilationDatabase: build