[submodule "src/Dependency/libpng"]
	path = src/Dependency/libpng
	url = https://github.com/glennrp/libpng.git
	shallow = true
	ignore = all
[submodule "src/Dependency/zlib"]
	path = src/Dependency/zlib
	url = https://github.com/madler/zlib.git
	shallow = true
	ignore = all
[submodule "src/Dependency/toolchain.ll"]
	path = src/Dependency/toolchain.ll
	url = https://github.com/juliannojungle/toolchain.ll.git
	shallow = true
	branch = main
